// Color Variables   -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_<
$c-dark: 		#3e3e3e;
$c-darkest: 	#1f1f1f;
$c-white:		#fff;
$c-gray: 		#9e9ea6;
$c-lGray: 		#f9f9f9;
$c-lGray2: 		#f5f5f5;
$c-blue: 		#439fe0;


$c-para: 	 	$c-dark;
$c-headings:	$c-darkest;
$c-bg: 			$c-white;
$c-links: 		$c-gray;
$c-btn: 		$c-blue;



// Font Variables -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_<
$f-primary: Lato, "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

$f-normal:    400;
$f-bold:      700;

// Media Queries -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_<

$l-mobile:    481px;
$l-tablet:    768px;
$l-desktop:   1024px;
$l-netbook:   1440px;
