.intro {
	background-color: $c-lGray;
	position: relative;
	min-height: 400px;
	height: 82vh;

	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (max-width: $l-mobile) {
		height: auto;
	}

	h3 {
		font-weight: $f-normal;
		text-align: center;
	}
}  // intro

.social {
	display: table;
	text-align: center;
	margin: 30px auto 0;

	li {
		display: table-cell;
		padding: 20px;

		a {
			border-bottom: none;
			&:hover {
				background-color: transparent;
				opacity: 0.5;
			}
		}
	} // li
}

// Icons _-_-_-_-_-_-_-_-_-_-_-_-_-_-<

.icon {
	width: 26px;
	height: 28px;
}
.icon-footer {
	width: 24px;
	height: 24px;
}

#icon-facebook {
	fill: $c-facebook;
}
#icon-twitter {
	fill: $c-twitter;
}
#icon-heart {
	fill: red;
}