.intro {
	background-color: $c-lGray;

	position: relative;

	min-height: 400px;
	height: 80vh;

	section {
		position: absolute;
		top: 50%;
		margin-top: -1.4em;
		left: 50%;
		margin-left: -25%;
	}

	h3 {
		font-weight: $f-normal;
		text-align: center;
	}

	ul {
		@extend %group;
		display: table;
		text-align: center;
		margin: 10px auto 0;

		li {
			display: table-cell;
			margin: 0 15%;
		}
	}
}