.work {
	text-align: center;
}
.work-item {
	display: inline-block;
	background-color: $c-lGray2;
	text-align: center;
	padding-top: 10px;
	width: 35%;
	max-width: 410px;

	box-shadow: 4px 3px 5px rgba(0,0,0,0.37);
	margin: 0 6%;

	@media screen and (max-width: $l-tablet) {
		width: 80%;
		margin: 20px 0 0 0;
	}
	@media screen and (max-width: $l-tablet) {
		width: 100%;
		margin: 20px 0 0 0;
	}


	h3 {
		color: $c-gray;
	}
}